/* Basic reset and layout */
body {
  margin: 0;
  padding: 0;
  background-color: #D3EFE9;
  color: #171717;
}
/* Header */
header {
  background-color: #19715C;
  color: #171717;
  padding: 1rem;
  text-align: center;
}
  /* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: #4b2e83;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

  /* Main content */

p, ul, ol, li {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
}
main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

/* Footer */
footer {
  background-color: #47B298;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #171717;
}
