/* Basic reset and layout */
body {
  margin: 10px;
  padding: 20px;
  background-color: #096191;
  color: #F8D2DD;
}
/* Header */
header {
  background-color: #ABEEDC;
  color: #096191;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
  /* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: #096191;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

  /* Main content */

p, ul, ol, li {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
}
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* Footer */
footer {
  background-color: #ABEEDC;
  color: #096191;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
